@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
:root {
  --btnBg: #3e3636;
  --black: #000;
  --mainBg: #f5eded;
  --white: #fff;
  --bmiText: #d72323;
  --inputBorder: #4a4b46;
}
body {
  margin: 0;
  padding: 0;
  background-color: var(--mainBg);
  font-family: "Montserrat", sans-serif;
}
h1 {
  text-align: center;
  font-size: 3rem;
}
.form {
  text-align: center;
  justify-content: center;
  margin-top: 9vh;
}
.weightWrapper {
  display: block;
  margin-top: 1rem;
}

div p,
div input {
  display: inline;
  font-size: 1.2rem;
}
button {
  padding: 0.5rem 1rem;
  margin-top: 2.2rem;
  border: none;
  border-radius: 25px;
  font-size: 1.3rem;
  font-weight: 550;
  cursor: pointer;
  background-color: var(--btnBg);
  color: var(--white);
  outline: none;
}
input {
  width: 18rem;
  margin-left: 0.9rem;
  padding: 0.4rem 0.6rem;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  outline: none;
  border: none;
  border-bottom: 2px solid var(--inputBorder);
}
input::placeholder {
  font-size: 1rem;
  padding: 0.6rem 0.5rem;
  font-family: "Montserrat", sans-serif;
}
input:focus {
  border-bottom: 2px solid var(--black);
}
.result {
  text-align: center;
  margin-top: 1rem;
}

.imageTag {
  text-align: center;
}
.imageTag img {
  width: 30rem;
  height: 30rem;
}
.imageTag p {
  display: block;
  font-size: 1rem;
  font-weight: 600;
}
.bmi {
  display: block;
  margin-top: -0.4rem;
  font-size: 2.5rem;
  color: var(--bmiText);
  font-weight: 600;
}
select {
  margin-left: 1rem;
  padding: 0.2rem 0.5rem;
  outline: none;
  border-radius: 1px;
  border: 2px solid var(--black);
  font-family: "Montserrat", sans-serif;
}
@media only screen and (max-width: 850px) {
  input {
    width: 14rem;
    font-size: 0.7rem;
  }
  .heightWrapper p,
  .weightWrapper p {
    font-size: 1.1rem;
  }
}
@media only screen and (max-width: 650px) {
  h1 {
    font-size: 2.5rem;
  }
  input {
    width: 10rem;
    padding: 0.3rem 0.5rem;
  }
  .heightWrapper p,
  .weightWrapper p {
    font-size: 1.1rem;
  }
  select {
    margin-left: 0.7rem;
    padding: 0.2rem 0.4rem;
  }
  button {
    font-size: 1.1rem;
    padding: 0.5rem 0.8rem;
  }
}

@media only screen and (max-width: 500px) {
  h1 {
    font-size: 1.9rem;
  }
  input {
    width: 4rem;
    padding: 0.2rem 0.4rem;
    margin-left: 0.5rem;
  }
  .heightWrapper p,
  .weightWrapper p {
    font-size: 1rem;
  }
  select {
    margin-left: 0.5rem;
    padding: 0.1rem 0.1rem;
    width: 3rem;
  }
  button {
    font-size: 1rem;
    padding: 0.5rem 0.6rem;
  }
  .imageTag img {
    width: 20rem;
    height: 20rem;
  }
}

@media only screen and (max-width: 350px) {
  h1 {
    font-size: 1.6rem;
  }
  input {
    width: 3rem;
    padding: 0.2rem 0.4rem;
    margin-left: 0.5rem;
  }
  .heightWrapper p,
  .weightWrapper p {
    font-size: 1rem;
  }
  select {
    margin-left: 0.5rem;
    padding: 0.1rem 0.1rem;
    width: 3rem;
  }
  button {
    font-size: 1rem;
    padding: 0.5rem 0.6rem;
  }
  .imageTag img {
    width: 18rem;
    height: 17rem;
  }
}

@media only screen and (max-width: 300px) {
  h1 {
    font-size: 1.6rem;
  }
  input {
    width: 2.2rem;
    padding: 0.2rem 0.4rem;
    margin-left: 0.5rem;
  }
  .heightWrapper p,
  .weightWrapper p {
    font-size: 1rem;
  }
  select {
    margin-left: 0.5rem;
    padding: 0.1rem 0.1rem;
    width: 3rem;
  }
  button {
    font-size: 1rem;
    padding: 0.5rem 0.6rem;
  }
  .imageTag img {
    width: 18rem;
    height: 17rem;
  }
}
